{{ form_start(form) }}
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;" id="basic-addon1">Nom</span>
  </div>
       {{ form_widget(form.nom,{'attr': {'class':'form-control input-mask'}}) }}
       {{ form_errors(form.nom) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;" id="basic-addon1">Téléphone</span>
  </div>
       {{ form_widget(form.telephone,{'attr': {'class':'form-control input-mask'}}) }}
       {{ form_errors(form.telephone) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;" id="basic-addon1">Email</span>
  </div>
       {{ form_widget(form.email,{'attr': {'class':'form-control input-mask'}}) }}
       {{ form_errors(form.email) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;" id="basic-addon1">Adresse</span>
  </div>
       {{ form_widget(form.adress,{'attr': {'class':'form-control input-mask'}}) }}
       {{ form_errors(form.adress) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;">Objectif</span>
  </div>
       {{ form_widget(form.objectif,{'attr': {'class':'form-control'}}) }}
       {{ form_errors(form.objectif) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;">Engagement</span>
  </div>
       {{ form_widget(form.engagement,{'attr': {'class':'form-control'}}) }}
       {{ form_errors(form.engagement) }}
  </div>
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="width: 160px;">Politique</span>
  </div>
       {{ form_widget(form.politique,{'attr': {'class':'form-control'}}) }}
       {{ form_errors(form.politique) }}
  </div>
   <div class="col-md-4 col-xs-4 col-sm-4">
      <button type="submit" class="btn btn-success">Enrégistrer</button>
      <button type="reset" class="btn btn-danger">Annuler</button>
    </div>
{{ form_end(form) }}
