{% extends 'base.html.twig' %}

{% block title %}AgroAL LvT{% endblock %}
{% block body %}
{% for contenu in app.session.getflashbag.get('produit.suppression') %}
        <div class=" text-center alert alert-danger" role="alert">

            <div>
                <button type="button" class="close" data-dismiss="alert" aria-label="close">  <span aria-hidden="true">&times;
            </span>  </button><span style="font-size:18px"> {{ contenu}} </span></div>

        </div>
    {% endfor %}
 <div class="row">
  <div class="col-lg-8">
    <h1>Suppression du produit</h1>
    </div>
     <div class="col-lg-3">
     </div>
      <div class="col-lg-1">
        <a href="{{ path('produit_index') }}" data-toggle="tooltip" data-placement="top" title="Liste des types de problèmes"  class="btn btn-success btn-circle">
          <i class="fas fa-clipboard-list"></i>
        </a>
      </div>
    </div>
            <br/><br/>
    <table class="table">
        <tbody>
           
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Aspectfinal</th>
                <td>{{ produit.aspectfinal }}</td>
            </tr>
            <tr>
                <th>Caracteristique</th>
                <td>{{ produit.caracteristique }}</td>
            </tr>
            <tr>
                <th>Utilisationprevue</th>
                <td>{{ produit.utilisationprevue }}</td>
            </tr>
            <tr>
                <th>Emballage</th>
                <td>{{ produit.emballage }}</td>
            </tr>
            <tr>
                <th>Dureconservation</th>
                <td>{{ produit.dureconservation }}</td>
            </tr>
            <tr>
                <th>Imageproduit</th>
                <td>{{ produit.imageproduit }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
